.header
  width: 100%
.slick-slide
  position: relative
.slick-slide img 
    width: 100%
    height: 81vh
.draggable 
  max-width: 100vw
  height: 768px
img.slider__img
  height: 765px
.slider__dots img 
  position: relative
  width: 116px
  height: 116px
  background-color: #000000
  overflow: hidden
  filter: brightness(40%)
  object-fit: cover
.slick-active img
  filter: brightness(100%)
  object-fit: cover
.slider__dots 
  left: 700px
  bottom: 100px 
  max-width: 100%
.slick-dots li 
  width: 150px
  margin: -14px
  height: none
.slider__images
  position: relative
.button__header, .button__header3, .button__header2
  position: absolute
  left: 350px
  bottom: 50px
  background-color: $green-button
  padding: 35px 128px 35px 30px
  & h6
    font-size: 25px
    font-weight: 700
    line-height: 24px
    color: #ffffff
    font-weight: 700
    letter-spacing: 0.63px
  & span
    line-height: 24px
    color: #ffffff
    font-size: 14px
    font-weight: 400
    letter-spacing: 0.35px
@media (max-width: 1350px)
  .button__header
    left: 220px
  .slider__dots 
    left: 560px
@media (max-width: 1400px)
  .button__header
    left: 200px
    bottom: 50px
    padding: 35px 128px 35px 30px
  .slider__dots 
    left: 560px
    bottom: 100px
@media (max-width: 1350px)
  .button__header
    left: 120px
    & h6 span 
      font-size: 22px
  .slider__dots 
    left: 490px
    bottom: 100px
@media (max-width: 1150px)
  .button__header
    left: 140px
    bottom: 75px
    padding: 19px 20px  
  .slider__dots 
    left: 380px
    bottom: 110px
    & img 
      height: 90px 
      width: 90px
    & li
      width: 128px
      /* width: 130px */
@media (max-width: 991px)
  .slick-slide img 
    height: 50vh
  .button__header
    left: 100px
    bottom: 10px
    padding: 10px 20px
    & h6, span 
      font-size: 16px
  .slider__dots 
    left: 280px
    bottom: 40px
    & img 
      width: 50px 
      height: 50px
    & li
      width: 100px
@media (max-width: 768px)
  .button__header
    left: 50px
    padding: 10px 20px
    & h6, span 
      font-size: 12px
  .slider__dots 
    left: 200px
    bottom: 40px
    & li
      width: 90px
@media (max-width: 576px)
  .button__header
    left: 10px
    bottom: 100px
    padding: 10px 10px
    & h6, span 
      margin: 0
      font-size: 10px
      line-height: 16px
  .slider__dots 
    left: 10px
    bottom: 40px
    & img 
      width: 40px 
      height: 40px
    & li
      width: 80px