.portfolio
  padding-top: 100px
  padding-bottom: 86px
  background-color: #f3f3f3
  &-title
    margin-bottom: 5px
  &-subtitle  
    display: block
    margin: auto
    text-align: center
    margin-bottom: 40px
    
  &-block
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &-item
    position: relative
    margin-top: 20px
    width: 49.5%
    &:hover .portfolio__button
      background-color: $green-button
      cursor: pointer
      transition: 0.2s
  &__button
    position: absolute
    max-width: 207px
    bottom: 30px
    left: 25px
    padding: 30px
    background-color: $btn-portfolio
    font-size: 13px
    font-weight: 700
    line-height: 30px
    // Text style for "Гостинная"
    color: #ffffff
    letter-spacing: 0.35px
.button-velas
  padding: 9px 54px
.button-irrida
  padding: 9px 31px 9px 38px
.button-purrino
  padding: 9px 44px 
.button-iddida
  padding: 9px 34px
.portfolio-full__button

  display: block
  margin: auto
  margin-top: 40px
  padding: 12px 55px
  background-color: $green-button
@media (max-width: 1200px)
  .portfolio
    padding-top: 50px
    padding-bottom: 50px
@media (max-width: 992px)
  .portfolio
    &-block
    &-item
      margin: auto
      margin-top: 20px
      align-items: center
      width: 80%  
      &:hover .portfolio__button
        background-color: $btn-portfolio
@media (max-width: 576px)
  .portfolio
    &__button
      left: 7px 
      bottom: 7px
      font-size: 8px
  .button-velas, .button-irrida, .button-purrino, .button-iddida
    padding: 0 5px
