@charset "UTF-8";
/* кнопки */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

body input {
  outline: none;
}

body a {
  outline: none;
  text-decoration: none;
  color: #000000;
}

body img {
  max-width: 100%;
}

.container {
  margin: auto;
  max-width: 1202px;
}

.button {
  border: none;
  outline: none;
  padding: 10px 35px;
  font-size: 13px;
  font-weight: 700;
  line-height: 25.05px;
  color: #ffffff;
}

.title {
  text-align: center;
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.subtitle {
  position: relative;
  color: #1f1f1f;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.subtitle::after {
  content: '';
  position: absolute;
  width: 45px;
  border: 0.5px solid #1f1f1f;
  left: 580px;
  top: 47px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  .subtitle::after {
    content: '';
    left: 470px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 768px;
  }
  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }
  .subtitle::after {
    content: '';
    left: 350px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .subtitle::after {
    content: '';
    left: 270px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 300px;
  }
  .container {
    max-width: 768px;
  }
  .title {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }
  .subtitle {
    font-size: 13;
  }
  .subtitle::after {
    content: '';
    left: 120px;
  }
}

/* стили для навигационного меню */
/* стили для навбара */
.btn {
  outline: none;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 16px 24px;
  font-weight: 700;
}

.button-warning {
  margin-top: 4px;
  background-color: #f9ac00;
}

.button-warning__navbar {
  margin-right: -15px;
  margin-top: 0px;
}

.button-success {
  background-color: #7eab4c;
  margin-top: 4px;
}

.button-success__navbar {
  margin-right: -10px;
  margin-left: 13px;
  padding: 16px 31px;
  margin-top: 0px;
}

.navbar-btnmobile {
  display: none;
}

#submenu {
  position: absolute;
  top: 30px;
  z-index: 99999;
  display: none;
  background-color: #fff;
  padding: 37px;
  padding-top: 43px;
  padding-left: 47px;
  padding-bottom: 30px;
  padding-right: 0px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 74px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-contacts {
  display: inline-block;
  font-size: 13px;
}

.nav-contacts__img {
  margin-right: 12px;
}

.nav-contacts__list {
  padding-right: 42px;
  margin-top: 8px;
  font-size: 14px;
}

.nav-contacts__list:last-child {
  padding-right: 0;
}

.nav-contacts__phone {
  color: #000;
  text-decoration: none;
}

.nav__input {
  padding: 0 0 0 15px;
  width: 328px;
  height: 45px;
  margin-top: 3px;
  font-size: 13px;
  margin-right: -30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #939393;
  background-image: url("../img/nav_slider/searсh-icon.png");
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 95%;
}

.main {
  padding-right: 4px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar__iteam {
  margin-top: 17px;
  margin-left: -6px;
}

.navbar__content {
  margin-top: 0px;
  margin-bottom: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

a.navbar__navigation {
  margin-left: 39px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  outline: none;
  font-size: 13px;
}

a.navbar__navigation:hover {
  color: #ffc318;
}

a.navbar__navigation-active {
  font-size: 13px;
  outline: none;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

a.navbar__navigation-active:hover {
  color: #7eab4c;
}

a.navbar__navigation-active:hover::after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  top: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-bottom: 2px solid #7eab4c;
}

#nav_list {
  position: relative;
}

.submenu {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.submenu__two {
  margin-right: 42px;
}

.submenu__three {
  margin-right: 41px;
}

.submenu__four {
  margin-right: 41px;
}

.submenu-block {
  padding-left: 0;
}

.submenu__item {
  padding-left: 0;
  line-height: 24px;
  margin-right: 11px;
  width: 199px;
  list-style: none;
}

.submenu__item:first-child {
  margin-top: 27px;
}

.submenu__item a {
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.submenu__item a:hover {
  color: #ee8b15;
}

.submenu__title {
  position: relative;
  margin-bottom: 30px;
  font-size: 13px;
}

.submenu__title::after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  top: 29px;
  border-bottom: 2px solid #7eab4c;
}

.slider__img {
  position: relative;
}

.navbar-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button-warning__navbar {
  margin-right: 0;
}

.navbar__content {
  max-width: 1172px;
}

.tell__menu {
  margin-top: 190px;
}

.input[type="checkbox"], input[type="radio"] {
  display: none;
}

@media (max-width: 1920px) {
  .owl-block {
    background-color: #7dad4b;
    min-width: 348px;
    height: 116px;
    position: absolute;
    left: 215px;
    bottom: 52px;
    z-index: 9999999;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 1600px) {
  .owl-block {
    background-color: #7dad4b;
    min-width: 288px;
    height: 110px;
    position: absolute;
    left: 185px;
    bottom: 52px;
    z-index: 9999999;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 1450px) {
  .owl-block {
    background-color: #7dad4b;
    min-width: 288px;
    height: 110px;
    position: absolute;
    left: 40px;
    bottom: 42px;
    z-index: 9999999;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    letter-spacing: 0.8px;
  }
}

@media (min-width: 1270px) {
  .navbar__content {
    max-width: 1210px;
  }
}

@media (max-width: 1199px) {
  .navbar__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-btn {
    margin-top: 10px;
  }
  .nav-contacts__list {
    padding-right: 0px;
    margin-top: 8px;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .slider__dots img {
    width: 90px;
    height: 90px;
  }
  .slider__dots li {
    width: 131px;
  }
  .owl-title {
    font-size: 18px;
    margin-top: 23px;
  }
  .owl-subtitle {
    font-size: 13px;
  }
  .owl-block {
    background-color: #7dad4b;
    min-width: 258px;
    height: 90px;
    position: absolute;
    left: 30px;
    bottom: 47px;
    z-index: 9999999;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 992px) {
  .slider__dots img {
    width: 70px;
    height: 70px;
  }
  .slider__dots li {
    width: 105px;
  }
  .owl-title {
    margin-top: 13px;
    margin-left: 10px;
  }
  .owl-subtitle {
    margin-left: 10px;
  }
  .owl-block {
    min-width: 180px;
    height: 70px;
    position: absolute;
    left: 12px;
    bottom: 56px;
    z-index: 9999999;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 768px) {
  .nav__input {
    width: 164px;
    margin-left: -31px;
    height: 29px;
  }
  .navbar {
    display: none;
  }
  .slider__dots img {
    width: 50px;
    height: 50px;
  }
  .slider__dots li {
    width: 90px;
  }
  .slider__dots {
    margin-bottom: 0;
  }
  .slick-slide img {
    height: 80vh;
  }
  .owl-title {
    margin-top: 13px;
    margin-left: 10px;
  }
  .owl-subtitle {
    margin-left: 10px;
  }
  .owl-block {
    min-width: 180px;
    height: 70px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 85px;
    z-index: 9999999;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }
  .navbar-btnmobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 10px;
  }
  .button-success__navbar {
    margin: 0;
    padding: 10px 11px;
  }
  .button-warning__navbar {
    margin: 0;
    padding: 10px 11px;
  }
}

@media (min-width: 769px) {
  .nav-phone {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav {
    /*width: 130px;
      margin-left: 5px;
      height: 25px; */
  }
  .nav-contacts__list {
    display: none;
  }
  .nav__input {
    display: none;
  }
  .slick-slide img {
    height: 64vh;
  }
  .slider__dots img {
    width: 30px;
    height: 30px;
  }
  .slider__dots li {
    width: 66px;
  }
  .owl-title {
    margin-top: 8px;
    margin-left: 8px;
    font-size: 14px;
  }
  .owl-subtitle {
    margin-left: 8px;
    font-size: 10px;
    margin-top: 5px;
  }
  .owl-block {
    min-width: 160px;
    height: 45px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 75px;
    z-index: 9999999;
    font-family: 'Roboto', sans-serif;
    color: #fff;
  }
}

/* @import "blocks/nav"  */
.nav-second {
  display: none;
}

.nav-second input {
  display: none;
}

label {
  cursor: pointer;
  z-index: 0;
}

.nav {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav__showmenu {
  position: fixed;
  z-index: 99999;
  display: inline-block;
  padding: 5px 10px 10px;
  top: 2px;
  font-size: 30px;
}

.nav__back {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.menu, .menu__submenu {
  list-style: none;
  padding: 0;
  color: #fff;
  overflow: hidden;
}

.burger {
  padding: 15px;
  opacity: 0.5;
  background-color: #fff;
  border-radius: 25%;
  position: relative;
}

.burger-btn, .burger .burger-btn:before, .burger .burger-btn:after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -5px;
  width: 10px;
  height: 1.5px;
  background-color: #222222;
}

.burger-btn:before {
  content: '';
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.burger-btn:after {
  content: '';
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.burger-btn-active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-btn-active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  z-index: 3;
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  padding: 17px 0;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 2em;
  background-color: #2c2c2c;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.menu__submenu {
  font-size: 0.95em;
  background-color: #ddd;
  max-height: 0;
  -webkit-transition: max-height .3s ease-in-out;
  transition: max-height .3s ease-in-out;
}

.menu__showsub {
  position: absolute;
  right: 0;
  margin-top: -34px;
  padding: 10px;
  line-height: normal;
  z-index: 0;
}

.menu__showsub2, .menu__showsub3, .menu__showsub4, .menu__showsub5, .menu__showsub6 {
  position: absolute;
  right: 0;
  margin-top: -34px;
  padding: 10px;
  line-height: normal;
  z-index: 0;
  display: none;
}

.menu__item {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.menu__submenu .menu__item {
  color: #000;
}

.nav__check:checked ~ .nav__back {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9;
  bottom: 0;
}

.menu__item:hover, .nav__showmenu:hover, .menu__showsub:hover {
  opacity: 0.7;
}

.menu::-webkit-scrollbar {
  display: none;
}

.nav__check:checked + .nav__showmenu {
  color: #fff;
}

.menu__check:checked ~ .menu__submenu {
  max-height: 100vh;
}

.menu__check:checked + .menu__showsub {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav__check:checked ~ .menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 991px) {
  .nav-second {
    display: block;
  }
}

/* @import "blocks/submenu" */
/* стили для секции каталога */
.cotalog {
  padding-top: 100px;
  padding-bottom: 100px;
}

.cotalog-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.cotalog-item {
  max-width: 250px;
  float: left;
  display: inline;
  margin: 10px;
  padding: 0;
  position: relative;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.cotalog-item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cotalog-item:hover {
  z-index: 99;
}

.cotalog-item img {
  position: relative;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.cotalog-item img:hover img {
  z-index: 999;
  filter: alpha(opacity=100);
  opacity: 1;
}

.item__info {
  position: absolute;
  left: -0.5px;
  top: 319px;
  padding: 20px 10px 20px;
  width: 250px;
  display: none;
  background-color: #fff;
  font-size: 1.2em;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

ul.cotalog-list li:hover .item__info {
  display: block;
}

ul.cotalog-list li h4 {
  font-size: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
}

ul.cotalog-list li p {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

/* секции для блока хедер ( слайдера) */
.header {
  width: 100%;
}

.slick-slide {
  position: relative;
}

.slick-slide img {
  width: 100%;
  height: 79.5vh;
}

.draggable {
  max-width: 100vw;
  height: 90vh;
}

.slider__dots img {
  position: relative;
  width: 116px;
  height: 116px;
  background-color: #000000;
  overflow: hidden;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.slick-active img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.slider__dots {
  left: 690px;
  bottom: 65px;
  max-width: 100%;
}

.slick-dots li {
  width: 150px;
  margin: -14px;
  height: none;
}

.slider__images {
  position: relative;
}

.button__header, .button__header3, .button__header2 {
  position: absolute;
  left: 350px;
  bottom: 10px;
  background-color: #7dad4b;
  padding: 35px 110px 35px 30px;
}

.button__header h6, .button__header3 h6, .button__header2 h6 {
  font-size: 25px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.63px;
}

.button__header span, .button__header3 span, .button__header2 span {
  line-height: 24px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

@media (max-width: 1350px) {
  .button__header {
    left: 220px;
  }
  .slider__dots {
    left: 560px;
  }
}

@media (max-width: 1350px) {
  .button__header {
    left: 150px;
    padding: 15px 60px 15px 10px;
  }
  .slider__dots {
    left: 460px;
    bottom: 50px;
  }
  .slider__dots img {
    width: 60px;
    height: 60px;
  }
  .slider__dots li {
    width: 100px;
  }
}

@media (max-width: 1350px) {
  .button__header {
    left: 150px;
    padding: 10px;
  }
  .button__header h6 span {
    font-size: 22px;
  }
  .slider__dots {
    left: 370px;
    bottom: 40px;
  }
  .slider__dots img {
    width: 50px;
    height: 50px;
  }
  .slider__dots li {
    width: 100px;
  }
}

@media (max-width: 991px) {
  .slick-slide img {
    height: 50vh;
  }
  .button__header {
    left: 100px;
    padding: 10px 20px;
  }
  .button__header h6, .button__header span {
    font-size: 16px;
  }
  .slider__dots {
    left: 280px;
    bottom: 40px;
  }
  .slider__dots img {
    width: 50px;
    height: 50px;
  }
  .slider__dots li {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .button__header {
    left: 50px;
    padding: 10px 20px;
  }
  .button__header h6, .button__header span {
    font-size: 12px;
  }
  .slider__dots {
    left: 200px;
    bottom: 40px;
  }
  .slider__dots li {
    width: 90px;
  }
}

@media (max-width: 576px) {
  .button__header {
    left: 10px;
    bottom: 100px;
    padding: 10px 10px;
  }
  .button__header h6, .button__header span {
    margin: 0;
    font-size: 10px;
    line-height: 16px;
  }
  .slider__dots {
    left: 10px;
    bottom: 40px;
  }
  .slider__dots img {
    width: 40px;
    height: 40px;
  }
  .slider__dots li {
    width: 80px;
  }
}

/* Стили для блока с новинками */
.portfolio {
  padding-top: 78px;
  padding-bottom: 88px;
  background-color: #f3f3f3;
}

.portfolio-title {
  margin-bottom: 5px;
}

.portfolio-subtitle {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-item {
  position: relative;
  margin-top: 20px;
  width: 49.5%;
}

.portfolio__button {
  position: absolute;
  max-width: 207px;
  bottom: 30px;
  left: 25px;
  padding: 30px;
  background-color: #63564f;
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.35px;
}

.portfolio__button:hover {
  background-color: #7dad4b;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-velas {
  padding: 9px 54px;
}

.button-irrida {
  padding: 9px 31px 9px 38px;
}

.button-purrino {
  padding: 9px 44px;
}

.button-iddida {
  padding: 9px 34px;
}

.portfolio-full__button {
  display: block;
  margin: auto;
  padding: 12px 55px;
  background-color: #7dad4b;
}

@media (max-width: 1200px) {
  .portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .portfolio-item {
    margin: auto;
    margin-top: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
}

@media (max-width: 576px) {
  .portfolio__button {
    left: 7px;
    bottom: 7px;
    font-size: 8px;
  }
  .button-velas, .button-irrida, .button-purrino, .button-iddida {
    padding: 0 5px;
  }
}

/* стли для блока с описанием */
.about {
  padding-top: 80px;
  padding-bottom: 107px;
}

.about-title {
  margin-bottom: 5px;
}

.about-subtitle {
  display: block;
  text-align: center;
  margin-bottom: 55px;
}

.about-text {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

@media (max-width: 1200px) {
  .about {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .about {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  -title {
    margin-bottom: 5px;
  }
}

/* стили блока с акцией месяца  */
.sails {
  position: relative;
}

.sails-block {
  margin-left: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.sails-subtitle {
  margin-top: 35px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 36px;
}

.sails-title {
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 34px;
}

.sails-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  max-width: 459px;
}

.sails-buttons {
  margin-top: 45px;
}

.sails__button {
  padding: 12px 77px;
  background-color: #ee8b15;
  margin-right: 45px;
}

.more__button {
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: normal;
  color: #7dad4b;
  background-color: Transparent;
}

.more__button img {
  margin-left: 30px;
}

.top-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.top-dots button {
  background-color: Transparent;
  border: none;
  outline: none;
}

.top-dots button:before {
  content: '0';
}

.sails-slider {
  position: relative;
  /* right: 0
   top: 0 */
}

.sails-slider::before {
  content: "";
  width: 50%;
  /* height: 100% */
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.draggable {
  max-width: 1036px;
  max-height: 612px;
}

/* .sails-slider
  position: absolute
  top: 0
  right: 0 */
@media (max-width: 1800px) {
  .sails-block {
    margin-left: 0px;
  }
  .draggable {
    max-width: 950px;
  }
}

@media (max-width: 1700px) {
  .draggable {
    max-width: 930px;
    max-height: 580px;
  }
}

@media (max-width: 1600px) {
  .draggable {
    max-width: 900px;
  }
}

@media (max-width: 1500px) {
  .draggable {
    max-width: 850px;
  }
}

@media (max-width: 1400px) {
  .draggable {
    max-width: 800px;
  }
}

@media (max-width: 1350px) {
  .draggable {
    max-width: 700px;
  }
}

@media (max-width: 1200px) {
  .draggable {
    max-width: 1200px;
    max-height: 550px;
  }
  .sails {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sails-title {
    text-align: left;
    max-width: 1080px;
  }
  .sails-text {
    max-width: 800px;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .sails {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sails-title {
    text-align: center;
    width: 600px;
  }
  .sails-text {
    max-width: 600px;
    text-align: center;
  }
  .sails-subtitle {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .sails {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sails-title {
    text-align: center;
    width: 500px;
  }
  .sails-text {
    max-width: 500px;
    text-align: center;
  }
  .sails-subtitle {
    margin: auto;
  }
}

@media (max-width: 576px) {
  .sails {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sails-title {
    text-align: center;
    width: 290px;
    font-size: 18px;
  }
  .sails-text {
    max-width: 290px;
    text-align: center;
    font-size: 13px;
  }
  .sails-subtitle {
    font-size: 14px;
    margin: auto;
  }
  .sails__button {
    display: block;
    margin: auto;
    padding: 5px 15px;
  }
  .sails__more {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 0;
    padding-left: 0px;
  }
  .sails__more img {
    margin-left: 10px;
  }
}

/* блок с новостями */
/* блок с отзвыами */
.feedback {
  padding-top: 80px;
  padding-bottom: 200px;
  background-image: url("../img/feedback/feedback-bg.jpg");
}

.feedback__title {
  margin-bottom: 5px;
}

.feedback__subtitle {
  display: block;
  text-align: center;
  padding-bottom: 60px;
}

.feedback-block {
  position: relative;
}

.feedback-button {
  display: block;
  padding: 13px 69px;
  margin-top: 45px;
  background-color: #7dad4b;
}

.tab_item {
  padding: 120px 140px 0 135px;
  overflow: auto;
  max-width: 885px;
  height: 481px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  background-color: #fff;
}

.tab_item img {
  position: absolute;
  top: 55px;
  left: 55px;
}

.wrapper {
  position: relative;
}

.tab {
  margin-bottom: 27px;
  padding: 0px 50px 10px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 10px;
  right: 0;
}

.tabs-block1, .tabs-block2, .tabs-block3, .tabs-block4 {
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  text-align: right;
  overflow: hidden;
}

.tabs-block1 h6, .tabs-block2 h6, .tabs-block3 h6, .tabs-block4 h6 {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  font-family: "Roboto - Bold", sans-serif;
  font-weight: 700;
}

.tabs-block1 span, .tabs-block2 span, .tabs-block3 span, .tabs-block4 span {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  font-family: "Roboto - Regular", sans-serif;
  font-weight: 400;
}

.active {
  background-color: #fff;
  padding: 0px 50px 10px 80px;
  border-radius: 0 52px 52px 0;
}

@media (max-width: 1200px) {
  .tab {
    padding: 0px 20px 10px 30px;
  }
  .tab_item {
    max-width: 600px;
  }
  .tabs {
    right: 30px;
  }
}

@media (max-width: 992px) {
  .tab_item {
    padding: 75px;
    max-width: 500px;
  }
  .tabs {
    right: 0px;
  }
  .feedback-button {
    margin-bottom: 35px;
  }
}

@media (max-width: 768px) {
  .tab {
    padding: 10px;
  }
  .tab_item {
    padding: 25px 25px 0 25px;
    max-width: 358px;
    min-height: 530px;
  }
  .tab_item img {
    top: 0;
    left: 0;
  }
  .active {
    padding-left: 0;
  }
  .tabs {
    right: 0px;
  }
  .feedback-button {
    margin-bottom: 35px;
  }
  .tabs-block1, .tabs-block2, .tabs-block3, .tabs-block4 {
    padding-left: 0;
  }
}

@media (max-width: 576px) {
  .feedback {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .feedback__title {
    font-size: 15px;
  }
  .feedback-button {
    margin: auto;
    padding: 5px 15px;
    margin-top: 15px;
    font-size: 10px;
  }
  .tab {
    padding: 0px;
    margin-bottom: 85px;
  }
  .tabs {
    top: 10px;
    right: 3px;
  }
  .tab img {
    width: 40px;
    height: 40px;
  }
  .tab_item {
    padding: 13px;
    max-width: 200px;
    font-size: 12px;
    line-height: 16px;
    min-height: 450px;
  }
  .tabs-block1, .tabs-block2, .tabs-block3, .tabs-block4 {
    padding: 0;
  }
  .tabs-block1 h6, .tabs-block1 span, .tabs-block2 h6, .tabs-block2 span, .tabs-block3 h6, .tabs-block3 span, .tabs-block4 h6, .tabs-block4 span {
    text-align-last: center;
    font-size: 7px;
  }
}

/* секция новости */
.news {
  padding-top: 87px;
  padding-bottom: 40px;
  background-color: #f3f3f3;
}

.news__title {
  margin-bottom: 5px;
}

.news__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__button {
  margin-top: 10px;
  text-align: left;
}

.news-button {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #7dad4b;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.news-card {
  position: relative;
  padding-bottom: 30px;
  width: 31.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-card h4, .news-card p, .news-card button {
  padding-left: 30px;
  padding-right: 25px;
  max-width: 364px;
}

.news-card:hover {
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.news-card__title {
  padding-top: 26px;
  margin-bottom: 3px;
  color: #000000;
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.news__text {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 23px;
}

.news__date {
  position: absolute;
  top: 30px;
  left: 30px;
  display: block;
  padding: 9px 5px 9px 8px;
  max-width: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background-color: #63564f;
}

.news__date strong {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .news-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-card {
    margin-top: 15px;
    margin-left: 50px;
  }
  .news-card__title {
    font-size: 12px;
  }
  .news-card p, .news-card h4 {
    padding: 0 10px;
  }
  .news-card__text {
    padding: 0;
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 992px) {
  .news {
    padding-top: 40px;
  }
  .news__subtitle {
    margin-bottom: 30px;
  }
  .news-button {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .news {
    padding-top: 40px;
  }
  .news-card {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .news__subtitle {
    margin-bottom: 30px;
  }
  .news-button {
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .news {
    padding-top: 20px;
  }
  .news-card {
    padding-bottom: 10px;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    margin-left: 0;
  }
  .news__date {
    font-size: 12px;
    top: 5px;
    left: 5px;
  }
}

.brif-block {
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif-box {
  padding-top: 90px;
  padding-left: 100px;
  max-width: 487px;
}

.brif__title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}

.brif__text {
  position: relative;
  display: block;
  margin-bottom: 65px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.brif__text::after {
  content: '';
  position: absolute;
  width: 50px;
  border: 0.5px solid #1f1f1f;
  left: 165px;
  top: 81px;
}

.brif__button {
  max-width: 200px;
  display: block;
  margin: auto;
  padding: 12px 62px;
  background-color: #7dad4b;
}

.brif__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#brif-username {
  margin-bottom: 15px;
  padding: 13px 250px 13px 27px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #ababab;
  border: 1px solid #000000;
}

#brif-phone {
  margin-bottom: 15px;
  padding: 13px 200px 13px 27px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #ababab;
  border: 1px solid #000000;
}

@media (max-width: 1200px) {
  .brif-box {
    padding-top: 40px;
    max-width: 400px;
    padding-left: 50px;
  }
  .brif__title {
    font-size: 20px;
    text-align: center;
  }
  .brif__text {
    margin-bottom: 30px;
  }
  .brif__text::after {
    content: '';
    width: 50px;
    left: 140px;
    top: 85px;
  }
  .brif #brif-username {
    padding: 13px 20px 13px 27px;
  }
  .brif #brif-phone {
    padding: 13px 10px 13px 27px;
  }
}

@media (max-width: 992px) {
  .brif {
    background-color: #f3f3f3;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 576px) {
  .brif-block {
    padding-bottom: 40px;
  }
  .brif-box {
    max-width: 320px;
    padding-top: 40px;
    padding-left: 0;
    padding-left: 10px;
  }
  .brif__title {
    font-size: 18px;
    text-align: center;
  }
  .brif__text {
    margin-bottom: 30px;
  }
}

.footer {
  padding-top: 20px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.footer-content {
  padding-top: 35px;
  padding-bottom: 15px;
  padding-left: 0;
  background-color: #63564f;
}

.footer-nav {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__coopyiraght {
  background-color: #4c413c;
}

.footer-block {
  padding-top: 18px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coopyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.05px;
  color: #ffffff;
}

.author-tag {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.05px;
  color: #ffffff;
  margin-right: 150px;
}

.directions-livingroom {
  margin-left: -45px;
}

.directions__item a {
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  color: #fff;
}

.directions-catalog {
  display: block;
  margin-bottom: 25px;
}

.directions__item {
  margin-right: 50px;
  position: relative;
}

.directions__item:after {
  content: '';
  position: absolute;
  display: block;
  width: 28px;
  top: 35px;
  border-bottom: 0.5px solid #fff;
}

.directions__links a {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.35px;
}

.contact__text {
  max-width: 260px;
  margin-left: 65px;
  margin-right: 270px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.contact__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 25.05px;
}

.contact__link__last {
  margin-left: 62px;
}

.contact__phone img {
  margin-right: 10px;
}

@media (max-width: 1300px) {
  .contact__text {
    margin-right: 100px;
  }
}

@media (max-width: 1200px) {
  .directions-livingroom {
    margin-left: 0;
  }
  .footer-nav {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-nav li {
    display: block;
    margin: auto;
    width: 30%;
    text-align: center;
  }
  .directions__item {
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .directions__item:after {
    width: 28px;
    top: 35px;
    right: 110px;
  }
  .contact__text {
    margin-right: 50px;
  }
}

@media (max-width: 1080px) {
  .contact__text {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .footer-contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact__text {
    margin-left: 200px;
    max-width: 300px;
    font-size: 15px;
  }
  .contact__phone {
    padding-top: 20px;
  }
  .directions__item:after {
    right: 70px;
  }
}

@media (max-width: 768px) {
  .footer-contacts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__text {
    margin-left: 0;
    padding-top: 15px;
    max-width: 90%;
    text-align: left;
    font-size: 16px;
  }
  .contact__phone {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: auto;
    padding-top: 15px;
  }
  .contact__link__last {
    margin-left: 0;
  }
  .directions-livingroom {
    margin-left: 0;
  }
  .footer-nav {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-nav li {
    display: block;
    margin: auto;
    width: 60%;
    text-align: center;
  }
  .directions__item:after {
    left: 130px;
    top: 30px;
    border-bottom: 1.5px solid #fff;
  }
}

@media (max-width: 576px) {
  .directions__item:after {
    left: 55px;
    top: 30px;
  }
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.offers {
  padding-top: 85px;
  padding-bottom: 110px;
  background-color: #f3f3f3;
}

.offers-title {
  margin-bottom: 5px;
}

.offers-subtitle {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.offers-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 97px 113px 97px 131px;
  width: 25%;
  background-color: #fbfbfb;
}

.block__title {
  color: #7dad4b;
  font-family: "Roboto - Bold";
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.block__text {
  padding-left: 37px;
  padding-right: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 25%;
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .block__image {
    width: 40%;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .block__image img {
    max-width: none;
  }
  .block__text {
    width: 40%;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .offers {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .offers-block {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .block__image {
    width: 40%;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .block__image img {
    max-width: none;
  }
  .block__text {
    width: 40%;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .block__image {
    width: 80%;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .block__image img {
    max-width: none;
  }
  .block__text {
    width: 80%;
    min-height: 250px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .block__title {
    font-size: 11px;
    text-align: center;
    line-height: 15px;
    margin-bottom: 5px;
  }
  .offer__text {
    font-size: 12px;
  }
}

/* стили для модального окна с просьбой перезвонить меню */
.modal-one {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-one__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.modal-callorder {
  position: relative;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  width: 100%;
  min-width: 500px;
  background-color: #fff;
  padding: 40px 70px 80px 70px;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-callorder__close {
  position: absolute;
  right: 0;
  top: 0;
}

.modal-callorder__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 25px;
}

.modal-callorder__subtitle {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 25px;
}

.modal-callorder-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-callorder-form input {
  margin-bottom: 15px;
  padding: 12px 140px 12px 20px;
}

.modal-callorder-form button {
  background-color: #7dad4b;
}

.modal-callorder__text {
  display: block;
  margin-top: 25px;
  line-height: 22px;
}

.modal-callorder__text a {
  font-weight: 700;
}

.modal-callorder__close {
  background-color: #fff;
  border: none;
  font-size: 20px;
}

.modal-callorder__close:hover {
  color: red;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 991px) {
  .modal-callorder {
    padding: 50px;
    min-width: 400px;
    max-width: 430px;
  }
  .modal-callorder__close:hover {
    color: #000000;
  }
}

@media (max-width: 576px) {
  .modal-callorder {
    padding: 15px;
    min-width: 280px;
    max-width: 280px;
  }
  .modal-callorder input {
    padding: 10px 15px;
  }
  .modal-callorder__title {
    font-size: 24px;
  }
}

/* стили для модального окна вызова замерщика меню */
.modal-two {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-two__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.modal-invite {
  position: relative;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  width: 100%;
  min-width: 500px;
  background-color: #fff;
  padding: 40px 70px 80px 70px;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-invite__close {
  position: absolute;
  right: 0;
  top: 0;
}

.modal-invite__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 25px;
}

.modal-invite__subtitle {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 25px;
}

.modal-invite-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-invite-form input {
  margin-bottom: 15px;
  padding: 12px 140px 12px 20px;
}

.modal-invite-form button {
  background-color: #7dad4b;
}

.modal-invite__text {
  display: block;
  margin-top: 25px;
  line-height: 22px;
}

.modal-invite__text a {
  font-weight: 700;
}

.modal-invite__close {
  background-color: #fff;
  border: none;
  font-size: 20px;
}

.modal-invite__close:hover {
  color: red;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 991px) {
  .modal-invite {
    padding: 50px;
    min-width: 400px;
    max-width: 430px;
  }
  .modal-invite__close:hover {
    color: #000000;
  }
}

@media (max-width: 576px) {
  .modal-invite {
    padding: 15px;
    min-width: 280px;
    max-width: 280px;
  }
  .modal-invite input {
    padding: 10px 15px;
  }
  .modal-invite__title {
    font-size: 24px;
  }
}
/*# sourceMappingURL=style.css.map */