@charset "UTF-8";
/* кнопки */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body a {
  outline: none;
  text-decoration: none;
  color: #000000;
}

.container {
  margin: auto;
  max-width: 1202px;
}

.button {
  border: none;
  outline: none;
  padding: 10px 35px;
  font-size: 13px;
  font-weight: 700;
  line-height: 25.05px;
  color: #ffffff;
}

.title {
  text-align: center;
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.subtitle {
  position: relative;
  color: #1f1f1f;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.subtitle::after {
  content: '';
  position: absolute;
  width: 45px;
  border: 0.5px solid #1f1f1f;
  left: 580px;
  top: 47px;
}

/* стили для навигационного меню */
/* стили для навбара */
.nav {
  padding-top: 28px;
  padding-bottom: 8px;
}

.nav-line {
  height: 1px;
  background-color: #e2e2e2;
  background-color: #f0f0f0;
}

.nav-hat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}

.nav-list {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-input {
  margin-left: 70px;
  padding: 12px 142px 12px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  background-image: url("../img/nav/seacrh-icon.png");
  background-repeat: no-repeat;
  background-position: right;
  color: #939393;
  border: 1px solid #63564f;
  opacity: 0.2;
}

.nav__link {
  margin-left: 45px;
  font-size: 14px;
  font-weight: 700;
  line-height: 25.05px;
}

.nav a {
  text-decoration: none;
  color: #030303;
}

.nav__phone-text {
  margin-left: 10px;
}

.nav__basket-text {
  margin-left: 9px;
}

.nav-button__order {
  margin-right: 15px;
  padding: 10px 21px;
  font-size: 13px;
  background-color: #ee8b15;
}

.nav-button__call {
  background-color: #7dad4b;
}

#submenu {
  position: absolute;
  top: 40px;
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__item {
  margin-right: 48px;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: normal;
}

.navbar__item:last-child {
  margin-right: 25px;
  color: #7eab4c;
}

#nav_list {
  position: relative;
}

.submenu {
  padding-top: 30px;
  /* padding: 10px 0 0 40px  */
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  z-index: 9999;
  background-color: #fff;
  opacity: 0.96;
  /*   & a
      text-decoration: none
      text-transform: none
      font-size: 16px
      color: $text-color
      &:hover
        color: #84b04f */
}

.submenu:first-child {
  padding-left: 40px;
}

.submenu:nth-child(2) {
  margin-left: -40px;
}

.submenu:nth-child(4) {
  padding-left: 2px;
}

.submenu-block {
  padding-left: 0;
  width: 270px;
}

.submenu__item {
  margin: 0;
  margin-right: 100px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  letter-spacing: 0.35px;
}

.submenu__item:first-child {
  margin-top: 25px;
}

.submenu__title {
  position: relative;
  font-size: 13px;
  font-weight: 700;
  line-height: 25.05px;
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 0.33px;
}

.submenu__title::after {
  content: '';
  position: absolute;
  display: block;
  width: 30px;
  top: 30px;
  left: -5px;
  border-bottom: 2px solid #7eab4c;
}

/* стили для секции каталога */
.cotalog {
  padding-top: 100px;
  padding-bottom: 100px;
}

.cotalog-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.cotalog-item {
  max-width: 250px;
  float: left;
  display: inline;
  margin: 10px;
  padding: 0;
  position: relative;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.cotalog-item:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cotalog-item:hover {
  z-index: 99;
}

.cotalog-item img {
  position: relative;
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.cotalog-item img:hover img {
  z-index: 999;
  filter: alpha(opacity=100);
  opacity: 1;
}

.item__info {
  position: absolute;
  left: -0.5px;
  top: 319px;
  padding: 20px 10px 20px;
  width: 250px;
  display: none;
  background-color: #fff;
  font-size: 1.2em;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

ul.cotalog-list li:hover .item__info {
  display: block;
}

ul.cotalog-list li h4 {
  font-size: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
}

ul.cotalog-list li p {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

/* секции для блока хедер ( слайдера) */
.owl {
  position: relative;
  margin-left: 14px;
  color: #ffffff;
}

.owl-carousel {
  height: 768px;
  z-index: 1;
}

.owl-item img {
  height: 768px;
}

.owl-dot {
  margin-left: 10px;
  left: 300px;
}

.owl-block {
  border: 2px solid green;
  background-color: green;
  max-width: 348px;
  padding: 30px 80px 20px 35px;
  min-height: 116px;
  position: absolute;
  top: 600px;
  left: 350px;
  color: #fff;
  z-index: 99;
}

.owl-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 25px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  font-family: "Roboto - Bold", sans-serif;
  font-weight: 700;
  letter-spacing: 0.63px;
}

.owl-subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 10px;
  color: #ffffff;
  font-family: "Roboto - Regular";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}

.owl-dots {
  position: absolute;
  top: 600px;
  left: 650px;
  z-index: 100;
  width: 100%;
}

/* Стили для блока с новинками */
.portfolio {
  padding-top: 78px;
  padding-bottom: 88px;
  background-color: #f3f3f3;
}

.portfolio-title {
  margin-bottom: 5px;
}

.portfolio-subtitle {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

.portfolio-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio-item {
  position: relative;
  margin-top: 20px;
  width: 49.5%;
}

.portfolio__button {
  position: absolute;
  max-width: 207px;
  top: 285px;
  left: 25px;
  background-color: #63564f;
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.35px;
}

.portfolio__button:hover {
  background-color: #7dad4b;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-velas {
  padding: 9px 54px;
}

.button-irrida {
  padding: 9px 31px 9px 38px;
}

.button-purrino {
  padding: 9px 44px;
}

.button-iddida {
  padding: 9px 34px;
}

.portfolio-full__button {
  display: block;
  margin: auto;
  padding: 12px 55px;
  background-color: #7dad4b;
}

/* стли для блока с описанием */
.about {
  padding-top: 80px;
  padding-bottom: 107px;
}

.about-title {
  margin-bottom: 5px;
}

.about-subtitle {
  display: block;
  text-align: center;
  margin-bottom: 55px;
}

.about-text {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

/* стили блока с акцией месяца  */
.sails {
  position: relative;
}

.sails-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-left: 315px;
}

.sails-subtitle {
  margin-top: -30px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 36px;
}

.sails-title {
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 34px;
}

.sails-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  max-width: 459px;
}

.sails-buttons {
  margin-top: 45px;
}

.sails__button {
  padding: 12px 77px;
  background-color: #ee8b15;
  margin-right: 45px;
}

.more__button {
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: normal;
  color: #7dad4b;
  background-color: Transparent;
}

.more__button img {
  margin-left: 30px;
}

.top-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
}

.top-dots button {
  background-color: Transparent;
  border: none;
  outline: none;
}

.top-dots button:before {
  content: '0';
}

.sails-slider {
  position: relative;
  right: 0;
  top: 0;
}

.sails-slider::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.draggable {
  max-width: 1037px;
}

/* блок с новостями */
.news {
  padding-top: 87px;
  padding-bottom: 40px;
  background-color: #f3f3f3;
}

.news__title {
  margin-bottom: 5px;
}

.news__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__button {
  margin-top: 10px;
  text-align: left;
}

.news-button {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding-left: 55px;
  padding-right: 55px;
  background-color: #7dad4b;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
}

.news-card {
  position: relative;
  padding-bottom: 30px;
  width: 31.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news-card h4, .news-card p, .news-card button {
  padding-left: 30px;
  padding-right: 25px;
  max-width: 364px;
}

.news-card:hover {
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.news-card__title {
  padding-top: 26px;
  margin-bottom: 3px;
  color: #000000;
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.news__text {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 23px;
}

.news__date {
  position: absolute;
  top: 30px;
  left: 30px;
  display: block;
  padding: 9px 5px 9px 8px;
  max-width: 80px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  background-color: #63564f;
}

.news__date strong {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.footer {
  padding-top: 20px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.footer-content {
  padding-top: 35px;
  padding-bottom: 15px;
  padding-left: 0;
  background-color: #63564f;
}

.footer-nav {
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__coopyiraght {
  background-color: #4c413c;
}

.footer-block {
  padding-top: 18px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coopyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.05px;
  color: #ffffff;
}

.author-tag {
  font-size: 14px;
  font-weight: 400;
  line-height: 25.05px;
  color: #ffffff;
  margin-right: 150px;
}

.directions-livingroom {
  margin-left: -45px;
}

.directions__item a {
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.33px;
  color: #fff;
}

.directions-catalog {
  display: block;
  margin-bottom: 25px;
}

.directions__item {
  margin-right: 50px;
  position: relative;
}

.directions__item:after {
  content: '';
  position: absolute;
  display: block;
  width: 28px;
  top: 35px;
  border-bottom: 0.5px solid #fff;
}

.directions__links a {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.35px;
}

.contact__text {
  max-width: 260px;
  margin-left: 65px;
  margin-right: 270px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.contact__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 25.05px;
}

.contact__link__last {
  margin-left: 62px;
}

.contact__phone img {
  margin-right: 10px;
}

.offers {
  padding-top: 85px;
  padding-bottom: 110px;
  background-color: #f3f3f3;
}

.offers-title {
  margin-bottom: 5px;
}

.offers-subtitle {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.offers-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 97px 113px 97px 131px;
  width: 25%;
  background-color: #fbfbfb;
}

.block__title {
  color: #7dad4b;
  font-family: "Roboto - Bold";
  font-size: 13px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.block__text {
  padding-left: 37px;
  padding-right: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 25%;
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */